@model IEnumerable<Practical.Models.Car>

@{
    ViewData["Title"] = "GetCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetCars</h1>


@foreach (var item in Model) {
       <div class="card" style="width: 18rem;">
  <img src="~/img/car.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@item.Brand</h5>
    <p class="card-text">@item.Version.Model.ModelName</p>
    <a href="#" class="btn btn-primary">@item.Version.VersionName</a>
  </div>
</div>
}
  